* {
    margin: 0;
    padding: 0;
}

.grupo{
    display: flex;
    flex-direction: column;
}

.cabecalho{
    background-color: rgb(236, 234, 102);
    color: rgb(255, 0, 0);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    color: rgb(255, 0, 221);
    text-decoration: none;
    margin-left: 15px;
}

.menu a:hover{
    color: brown;
}

.conteudo {
    display: flex;
    height: 200px;
}

.navegacao {
    background-color: aqua;
    display: inline-block;
    width: 30%;
    padding: 10px;
}

.navegacao ul {
    list-style: none;
    padding: 0;
}

.navegacao li {
    margin-bottom: 10px;
}

.secao{
    background-color: rgb(177, 98, 98);
    display: inline-block;
    width: 70%;
    padding: 10px;
}

.secao p{
    margin-bottom: 10px;
}

.rodape{
    background-color: rgb(169, 101, 233);
}